.chart div {
    font: 10px sans-serif;
    background-color: steelblue;
    text-align: right;
    padding: 3px;
    margin: 1px;
    color: white;
}
.svg-container{
    margin: 50px;
}
.reset-data-button-container{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    margin-top: 10px;
}