.page-wrapper{
    display: flex;
}
.filter-options-container{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    padding-top: 10px;
    border-right: 2px solid #3b80d1;
    width: 200px;
    margin-left: -145px;
    z-index: 5;
}
.menu-with-arrow{
    z-index: 5;
}
.arrow{
    width: 30px;
    margin-top: 50px;
    padding: 5px;
    border-radius: 50%;
    margin-left: 10px;
    border: 3px solid #fff;
    animation-name: borderPulse;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}
.arrow:hover{
    cursor: pointer;
    animation-play-state: paused;
    border: 3px solid #3b80d1;
}
.reset-data-button{
    background-color: #FFF;
    color: #3b80d1;
    text-decoration: none;
    transition: .3s ease-in-out;
    font-size: 15pt;
    font-weight: 400;
    padding: 4pt 0pt 4pt 0pt;
    letter-spacing: 2px;
    border-radius: 5px;
    border: 1px solid #3b80d1;
    cursor: pointer;
    width: 100px;
    margin: 5px 20px 5px 20px;
}
.reset-data-button:hover{
    transition: .3s ease-in-out;
    background-color: #3b80d1;
    color: white;
    
}
.reset-data-selected{
    background-color: #3b80d1;
    color: white;
    text-decoration: none;
    transition: .3s ease-in-out;
    font-size: 15pt;
    font-weight: 400;
    padding: 4pt 0pt 4pt 0pt;
    letter-spacing: 2px;
    border-radius: 5px;
    border: 1px solid #3b80d1;
    cursor: pointer;
    width: 100px;
    margin: 5px 20px 5px 20px;
}

@keyframes borderPulse {
    0%   {border: 3px solid #fff;}
    50%  {border: 3px solid #3b80d1;}
    100% {border: 3px solid #fff;}
}