.line {
    fill: none;
    stroke: #00ff15;
    stroke-width: 2;
}
  
.overlay {
  fill: none;
  pointer-events: all;
}

.dot {
    fill: #ffab00;
    stroke: #fff;
}
  
.focus circle {
  fill: none;
  stroke: #3b80d1;
}

.chart-text{
  fill: #3b80d1;
}