.content-container{
    position: relative;
    display: flex;
    flex-direction: column;
}
.page-header{
    z-index: 5;
    text-align: center;
    text-decoration: underline;
}
.text-section-left{
    z-index: 5;
    position: relative;
    left: 6%;
    margin: 50px 0px 50px 0px;
    width: 60%;
    border: 2px solid #fff;
    padding: 10px;
    border-radius: 5px;
    -webkit-box-shadow: 10px 13px 32px -11px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 13px 32px -11px rgba(0,0,0,0.75);
    box-shadow: 10px 13px 32px -11px rgba(0,0,0,0.75);
    background-color: #3b80d1;
    color: #fff;
    opacity: 0;
}
.text-section-right{
    z-index: 5;
    position: relative;
    left: 30%;
    margin: 50px 0px 50px 0px;
    width: 60%;
    border: 2px solid #3b80d1;
    padding: 10px;
    border-radius: 5px;
    -webkit-box-shadow: 10px 13px 32px -11px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 13px 32px -11px rgba(0,0,0,0.75);
    box-shadow: 10px 13px 32px -11px rgba(0,0,0,0.75);
    background-color: #fff;
    color: #3b80d1;
    opacity: 0;
}
.page-subheader{
    z-index: 5;
    margin: 0px;
    letter-spacing: 1px;
}
.page-paragraph{
    z-index: 5;
    margin: 0px 0px 0px 30px;
    letter-spacing: 1px;
}
.page-paragraph-link{
    z-index: 5;
    letter-spacing: 1px;
    color: #3b80d1;
    font-weight: 700;
}
.grid-container{
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 6px .7em;
    margin-top: 20px;
    margin-left: 10px;
    position: absolute;
}

.money-image{
    height: 110px;
    width: 235px;
    display: inline-block;
    opacity: 0;
    border-radius: 5px;
    -webkit-box-shadow: 10px 13px 32px -11px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 13px 32px -11px rgba(0,0,0,0.75);
    box-shadow: 10px 13px 32px -11px rgba(0,0,0,0.75);
}
.odd-image{
    margin-top: 20px
}
